<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" routerLink="orders">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile">Profile</a>
          </li>

          <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
        </li>
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" (click)="logout()">logout</a>
          </li>
      </ul>
      
    </div>
  </nav>



  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>