<!-- 
 Agenda: 1. Learn Guards in Angular
         2. Why Guards are useful?
         3. What is Authguard/ Route Guard?
         4. Type of Route Guard
         5. How to create Route Guard?


1. Guard:
In order to implement authentication and authorization guards can be used. To restrict some of the \
 pages based upon the credential given from the user. Some of the pages are locked.
 
 For eg: 1. Restrict the user from accessing a route.
         2. Ask user to save some data before moving to other pages.
         3. Validating the route parameter before moving to other page.
         4. Fetch some data before page load.

Difference between authentication and authorization? (interview)

Authentication => Weather user is logged in or not.
Authorization => Oon basis of role, some of the modules or pages can be show/hide. 


3. Authguard?
 It is used to prevent some of the routes to the authenticated users. Resctrict the route.

 4. Types of Route Guard/ Authguard?
     a. canActivate: This guard decided if a route can be accessed by a user or not.
     b. canActivateChild:   This is used to decide weather user can leave a route or not
     c. canDeactivate:This is used to determine a child route can be activated or not
     d. Resolve: This guard is used to delay the activation of the route untill some task are complete
     e. canLoad: Used to implement access on the pages laoded through lazy-loading
 -->



<app-header></app-header>
<router-outlet></router-outlet>

